body{
	padding-top: 75px;
}
.big-word{
  font-family: Marion;
  font-size: 1.7vmax;
  font-weight: bold;
  color: #070707;
}
.grey-background{
	background-color: #f6f6f6;
}
#my-navbar{
	font-family: Marion;
	background-color: white;
	border:none;
}
.section-heading{
  font-family: Marion;
  font-size: 2.6vmax;
  color: #606366;
}
.big-line-space{
	line-height: 190%;
  white-space: normal;
}
.red-text{
	color:  #971747;
	font-family: Arial;
	font-weight: bold;
	font-size: 2.4vmax;	 
}
.japanese-text{
	font-size: 2.0vmax;
	font-family:HiraMaruPro-W4;
	color: #333333;
  white-space: normal; 
}
#small{
	font-size: 1.6vmax;
	font-family:HiraMaruPro-W4;
	color: #333333;
}
#twoline{
  white-space: normal;
}
#twoline1{
  white-space: normal;
}
hr.style-eight {
	width:80%;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
#CONTACT-container{
	width: 40%;
  padding-top: 5%;
  padding-bottom: 6%;
}
#COMPANY{
	border-top: none;
}
#SERVICES{
	border-top: none;
}

#NEWS{
	border-top: none;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.real{
  font-family: HiraMaruPro-W4;
  font-size: 4.7vmax;
  color: #000000;
}
#mainimage { 
    height: auto;
    opacity: 0.75;
	width:auto;
}
#slogan{
  width: 70%;
  font-family: Marion;
  font-size: 165%;
  font-weight: bold;
  text-align: left;
  color: #f22c20;
}
.underlineforheading{
	width:25%;
	border-width: 5px;
	border-color: grey;
}
.underlineforheading-RECRUITMENT{
  width:15%;
  border-width: 5px;
  border-color: grey;
}
.underlineforheading-COMPANY{
	width:12.5%;
	border-width: 5px;
	border-color: grey;
}
.underlineforheading-SERVICES{
	width:12.5%;
	border-width: 5px;
	border-color: grey;
}
.underlineforheading-NEWS{
	width:6%;
	border-width: 5px;
	border-color: grey;
}

.underlineforheading-ACCESS{
  width:12%;
  border-width: 5px;
  border-color: grey;
}
.contact-text{
  font-family: HiraMaruPro-W4;
  font-size: 1.7vmax;
  text-align: left;
  color: #333333;
}
#apply-button{
  width:50%;
}
.button-grey{
	width: 100%;
	background-color: #9b9b9b;
    border: solid 1px #979797;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: HiraginoSans-W3;
    font-size: 2.4vmax;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}
#user-message{
  border-radius: 8px;
  background-color: #faf7f4;
  border: solid 1px #979797;
}
#user-phone-number{
  border-radius: 8px;
  background-color: #faf7f4;
  border: solid 1px #979797;
}
#user-email{
  border-radius: 8px;
  background-color: #faf7f4;
  border: solid 1px #979797;
}
#user-name{
  border-radius: 8px;
  background-color: #faf7f4;
  border: solid 1px #979797;
}
.page-header{
	border-bottom: none;
}
.row1{
  border-bottom: solid;
  border-width: 2px;
  padding-top:2%; 
  padding-bottom:2%;
}
#news-container{
  width:60%;
}
.imgcenter{
   margin: 0 auto;
}
.col-md-8{
  white-space: normal;
}
.col-md-3{
  white-space: normal;
}
.access-1{
  white-space: normal;
  font-family: HiraMaruPro-W4;
  color: #777777;
  font-size: 1.9vmax;
  padding-bottom:2%;
  padding-bottom: 2%;
}
.access-2 {
  white-space: normal;
  font-family: HiraMaruPro-W4;
  font-size: 1.9vmax;
  color: #333333;
  padding-bottom:2%;
  padding-bottom: 2%;
}
#COMPANY-container{
  padding-top: 6%;
  padding-bottom: 6.8%;
}
.RECRUITMENT-container{
  padding-top: 6%;
  padding-bottom: 6.8%;
}
#SERVICES-container{
  padding-top: 7%;
  padding-bottom: 7.5%; 
}
.bottom-padding{
  padding-bottom: 7%;
}
#ACCESS-container{
  padding-top: 7%;
  padding-bottom: 8%; 
}
.left-padding{
  padding-left: 10%;
}
.padding-popup{
  padding-left: 3%;
  padding-right: 3%;
}
.padding-top{
  padding-top:2vmax;
}
.no-padding{
  margin-right: 0px; 
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;   
}
